<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebProject Tabs</title>
  <!-- Include Bootstrap CSS (you can download it or link from a CDN) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
  #myTabs{
    background-color:#A0D6B4;
    height: 90px;
    margin-bottom:20px;
    padding-left: 5px;
  }
  #tab1{
    padding-bottom: 20px;
    color:black
  }
  #tab2{
    padding-bottom: 20px;
    color:black
  }
  #tab3{
    padding-bottom: 20px;
    color:black
  }
  .container-fluid {
    max-width: 100%;
    padding: 10px;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
  }
  .nav-tabs .nav-link.active {
    background-color: #2b7874; /* Set the background color for the active tab */
   /* Set the font color for the active tab */
    border-color: #107969; /* Set the border color for the active tab */
  }
  .nav-tabs :hover {
    color: azure;
    font-size: 20px; 
  }
  .nav-tabs .nav-link.active:hover{
    color: #107969;
  }
  #redirect{
    margin-left: 210px;
  }
  #form{
    margin-left: 10px;
  }
 
</style>
</head>
<body>
<div class="container-fluid fixed-top mt-100" style="margin-left:1px;">
  <ul class="nav nav-tabs" id="myTabs" >
    <li class="nav-item">
      <a class="nav-link active m-3 px-5 fs-5" id="tab1" data-toggle="tab" href="#tab1content"><b>Form Creation</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link m-3 px-5 fs-5" id="tab2" data-toggle="tab" href="#tab2content"><b>Alignment</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link m-3 px-5 fs-5" id="tab3" data-toggle="tab" href="#tab3content"><b>Third Tab</b></a>
    </li>
  </ul>

  
    <div class="tab-pane fade show active" id="tab1content">
      <div class="container mt-2 pt-0 col-0">
        <form id="formcontent">
          <div class="row mb-1">
            <div class="col-md-3">
                <label for="forms" class="labels" style="color:black;">Forms</label>
                <div class="inputs">
                    <input type="text"  class="input-class" id="form" name="labelform" placeholder="Forms" >
                </div>
            </div>
            <div class="col-md-3">
                <label for="redirect" style="margin-left: 150px; color:black;" class="labels">Redirect path</label>
              <div class="inputs">    
                <input type="text" id="redirect" class="input-class" style="color:black; margin-left:150px;" placeholder="Redirect Path">
            <div class="col-md-3">    
                <button class="btn btn-success ms-1" style="margin-left: 450px; background-color: #92beab;color:black;" type="button" onclick="addFormContainer()"><b>+</b></button>     
            </div>  
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12" id="dynamicFields">
              <div class="row mb-0">
              <label for="fields1" class="labels" style="color:black;margin-left:10px;" >Field Name</label>
              <label for="exampleSelect" class="labels" style="margin-left: 350px;">Selection Box:</label>
              </div>
              <div class="row mb-0 col-md-12">
              <input type="text"  class="input class" style="margin-left:10px;height:35px;" id ="f" name="field[]" placeholder="Field Name">
              <select class="form-control"  style="margin-left: 240px;width : 20%; height:37px;" id="f" name="selection[]">
                  <option value="option1">Varchar Field</option>
                  <option value="option2">Number Field</option>
                  <option value="option3">Password</option>
                  <option value="option4">Select Box</option>
                  <option value="option5">Number Field</option>
                  <option value="option6">Email</option>
                  <option value="option7">Radio Button</option>
                  <option value="option8">Calc Field</option>
                  <option value="option9">Check Box</option>
                  <option value="option10">Image</option>
                  <option value="option11">Logo</option>
                  <option value="option12">Comment Box</option>
                  <option value="option13">Button</option>
                  <option value="option14">Tables</option>
                  <option value="option15">Video Field</option>
                  <option value="option16">File Field</option>
                  <option value="option17">Audio Field</option>
              </select>
              <button style="margin-left: 750px; background-color: #92beab;color:black;" type="button" class="btn btn-success ms-1 adding-fields" ><b>+</b></button>
              </div>
            </div>         
          </div>
        </form>
      </div>
    
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function addFormContainer() {
      const newForm = document.createElement('form');
      newForm.classList.add('mt-5');
      newForm.innerHTML = `
      <div class="container mt-2 pt-0 col-0">
      <div class="row mb-0">
        <div class="col-md-3">
            <label for="forms" class="labels" style="color:black;">Forms</label>
            <div class="inputs">
                <input type="text"  class="input-class" id="form" name="labelform" placeholder="Forms" >
            </div>
        </div>
        <div class="col-md-3">
            <label for="redirect" style="margin-left: 150px; color:black;" class="labels">Redirect path</label>
            <div class="inputs">
                <input  id="redirect" class="input-class" style="color:black; margin-left:150px;" placeholder="Redirect Path">
                <button class="btn btn-success ms-1" style="margin-left: 450px; background-color: #92beab;color:black;" type="button" onclick="removeForm(this)"><b>-</b></button>
            </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12" id="dynamicFields">
          <div class="row mb-0">
          <label for="fields1" class="labels" style="color:black;margin-left:10px">Field Name</label>
          <label for="exampleSelect" class="labels" style="margin-left: 365px;">Selection Box:</label>
          </div>
          <div class="row mb-3 col-md-12">
          <input type="text" class="input-class" style="margin-left:10px;" id="f" name="field[]" placeholder="Field Name">
          <select class="form-control"  style="margin-left: 250px;width : 20%; height:37px;" id="f" name="selection[]">
              <option value="option1">Varchar Field</option>
              <option value="option2">Number Field</option>
              <option value="option3">Password</option>
              <option value="option4">Select Box</option>
              <option value="option5">Number Field</option>
              <option value="option6">Email</option>
              <option value="option7">Radio Button</option>
              <option value="option8">Calc Field</option>
              <option value="option9">Check Box</option>
              <option value="option10">Image</option>
              <option value="option11">Logo</option>
              <option value="option12">Comment Box</option>
              <option value="option13">Button</option>
              <option value="option14">Tables</option>
              <option value="option15">Video Field</option>
              <option value="option16">File Field</option>
              <option value="option17">Audio Field</option>
          </select>
          <button style="margin-left: 750px; background-color: #92beab;color:black;" type="button" class="btn btn-success ms-1 adding-fields" onclick="addFieldContainer(this)" ><b>+</b></button>
          </div>
        </div>         
      </div>
      `;

      document.querySelector('.tab-pane.active').appendChild(newForm);
  }

  function addFieldContainer(button) {
      const templateField = button.parentElement.cloneNode(true);

      const minusButton = document.createElement('button');
      minusButton.classList.add('btn', 'btn-danger', 'ms-1', 'remove-field');
      minusButton.type = 'button';
      minusButton.textContent = '-';
      minusButton.addEventListener('click', function () {
          templateField.closest('.row').remove();
      });

      const addButton = templateField.querySelector('.adding-fields');
      addButton.replaceWith(minusButton);

      // Include the label in the cloned template
      const label = document.createElement('label');
      label.classList.add('labels');
      label.textContent = 'Field Name';

      // Create a new row for the cloned template
      const newRow = document.createElement('div');
      newRow.classList.add('row', 'mb-3');

      // Append the label to the new row
      newRow.appendChild(label);

      // Add Bootstrap classes to the cloned template for sizing
      templateField.classList.remove('col-md-6'); // Remove original sizing class
      templateField.classList.add('col-md-3'); // Add new sizing class

      // Append the cloned template to the new row
      newRow.appendChild(templateField);

      // Insert the new row after the current row
      button.parentElement.closest('.row').insertAdjacentElement('afterend', newRow);
  }

  function removeForm(button) {
      const formToRemove = button.closest('form');
      formToRemove.remove();
  }

  document.addEventListener('DOMContentLoaded', function () {
      const addFieldButtons = document.querySelectorAll('.adding-fields');
      addFieldButtons.forEach(function (button) {
          button.addEventListener('click', function () {
            addFieldContainer(button);
          });
      });

      document.addEventListener('click', function (event) {
          if (event.target.classList.contains('remove-field')) {
              event.target.parentElement.parentElement.remove();
          }
      });
  });

  </script>
</div>




      <div class="tab-pane fade" id="tab2content">
      
      </div>

      <div class="tab-pane fade" id="tab3content">
      
      </div>
  



<!-- Include Bootstrap JS (you can download it or link from a CDN) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
